{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}

<section id="signout" class="signout">
    <div class="container section" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <div class="section-title">
                    <h2>Sign out</h2>
                    <p>Are you sure you want to sign out?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <div class="row">
                    <div class="btns">
                        <a href="{% url 'account_logout' %}" class="btn-signout animated fadeInUp scrollto">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
