{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ======= Log in Section ======= -->

<section id="login" class="login">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Log in</h2>
            <p>Enter email and password</p>
        </div>

        <form action="" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-5 col-md-5 form-group">
                    <input type="text" name="email" class="form-control" id="email" placeholder="Your Email"
                        data-rule="minlen:4" data-msg="Please enter a valid email">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-5 col-md-5 form-group mt-3 mt-md-0">
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Your Password" data-rule="password" data-msg="Please enter the correct password">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-2 col-md-2 form-group bt-submit animated fadeInUp scrollto text-center"><button
                        type="submit">Submit</button>
                </div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message">Please enter a valid email and password</div>
                <div class="sent-message"></div>
            </div>
            <div class="section-title">
                <p>Click here to sign up</p>
            </div>
            <div class="bt-signup animated fadeInUp scrollto text-center"><button type="submit">Sign up</button>
            </div>
    </div>

    </form>

    </div>
</section>
{% endblock %}