{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ======= Log in Section ======= -->
<br>
<section id="login" class="login">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Log in</h2>
            <p>Enter your email address and password</p>
        </div>
        <br>

        <form action="" method="POST" class="login-form" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4 form-group">
                    <label for="enterUsername" class="form-label"></label>
                    <input type="text" name="username" class="form-control" aria-describedby="enterUsername"
                        placeholder="Your Email" data-rule="minlen:4" data-msg="Please enter your email address">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-4 form-group mt-3 mt-md-0">
                    <label for="enterPassword" class="form-label"></label>
                    <input type="password" class="form-control" name="password" placeholder="Your Password"
                        data-rule="password" data-msg="Please enter your password">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-2 col-md-2 form-group bt-submit animated fadeInUp scrollto text-center"><button
                        type="submit">Submit</button>
                </div>
                <!-- ======= Error Messages ======= -->
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <div class="error-message d-block" role="alert"></div>
                    {{ message }}
                    {% endfor %}

                </div>
                {% endif %}
            </div>
            <div class="section-title">
                <p>or click to sign up</p>
            </div>
            <a href="{% url 'signup' %}" class="btn-signup animated fadeInUp scrollto">Sign Up</a>
    </div>
    </form>
    </div>
</section>
{% endblock %}