@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento&display=swap');

/* ..... Main settings ..... */

body {
    font-family: Oswald, sans-serif;
    font-weight: 200;
}


/* ..... Header ..... */

header {
    position: relative;
}

#logo {
    max-height: 25%;
    max-width: 25%;
    float: left;
}

#smitty {}

#dropdown {
    float: right;
}