{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- ======= Sign Up Section ======= -->
<section id="signup" class="signup">
    <div class="container section aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
            <h2>{% trans "Sign Up" %}</h2>
            <p>{% blocktrans %}Please enter your details{% endblocktrans %}</p>
        </div>
        <div id="signup-form">
            <form action="{% url 'account_signup' %}" method="POST" role="form" class="php-form aos-init aos animate"
                data-aos="fade-up" data-aos-delay="100">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-lg-2 col-md-2 form-group bt-submit animated fadeInUp scrollto text-center">
                    <button type="submit" value="Register">{% trans "Sign Up" %}</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}